src/main/resources/xsd/cli.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://commons.safris.org/cli.xsd"
	xmlns:cli="http://commons.safris.org/cli.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="arguments">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="option">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name">
								<xs:complexType>
									<xs:attribute name="long" type="cli:NCWName" use="required"/>
									<xs:attribute name="short" type="cli:NCWName" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="argument" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="name" type="cli:NCWName" use="required"/>
									<xs:attribute name="use" default="optional">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:enumeration value="required"/>
												<xs:enumeration value="optional"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="default" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="description" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="required" type="xs:boolean" default="false"/>
						<xs:attribute name="valueSeparator" type="cli:char" default=" "/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>

		<xs:unique name="uniqueLongName">
			<xs:selector xpath="cli:option/cli:name"/>
			<xs:field xpath="@long"/>
		</xs:unique>

		<xs:unique name="uniqueShortName">
			<xs:selector xpath="cli:option/cli:name"/>
			<xs:field xpath="@short"/>
		</xs:unique>

	</xs:element>

	<xs:simpleType name="NCWName">
		<xs:restriction base="xs:NCName">
			<xs:pattern value="[\S]*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="char">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="1"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
